.head {
    background: url(../img/bg.jpeg) no-repeat 50%/cover;
    min-height: 100vh;
    position: relative;
    padding-top: 350px;

    &__buttons {
        margin: 25px 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }

    &__link {
        height: 45px;
        padding: 12px 25px;
        color: $default-text;
        text-decoration: none;
        font-weight: 500;
        border: 2px solid $btn-bgc;
        border-radius: 5px;
    }

    &__subtitle {
        position: relative;
        @include before_circle;
        z-index: 2;
    }
}